<%- include('partials/header') %>
<div class="row">
            <li>
                <strong>Title</strong>
                <span>test</span>
                <div>
                    <button type="button">Action</button>
                    <ul>
                        <li><a href="#">Remove</a></li>
                    </ul>
                </div>
            </li>
        </div>

        <div class="row">
            <h2>No Items in Here</h2>
        </div>
<%- include('partials/footer') %>