<%- include('partials/header') %>
        <header class="masthead" style="background-image: url('./img/BACK.jpg');">
            <div class="container-fluid">
                <div class="row justify-content-center" id="intro-search">
                    
                        <form class="form-inline" method='GET' action="/beer/result">
                            <input class="form-control amber-border" id="searchBox" type="text"
                                placeholder="Search for any beer or brewery" name="searchterm">
                        </form>
                    
                </div>
            </div>

            <div class="container-fluid">
                <div class="row justify-content-center" id="intro-lead">
                    <p>Do You Want More?</p>
                </div>
                <div class="row justify-content-center">
                    <i class="fa fa-arrow-circle-down" id="intro-button"
                        onclick="window.scrollTo({top:700,behavior:'smooth'})"></i>
                </div>
            </div>
        </header>

        <div class="container-fluid" id="banner-section">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <figure class="snip1527">
                        <img src="img/corona.jpg" alt="pr-sample23" />
                        <figcaption>
                            <div class="date">Editor's Choice</div>
                            <p>Corona beer VS Corona Virus</h3>
                                <!-- https://www.morningadvertiser.co.uk/Article/2020/08/17/Impact-of-coronavirus-on-Corona-beer -->
                        </figcaption>
                        <a class="portfolio-link" data-toggle="modal" data-target="#model1" ara-hidden="true"></a>

                        <div class="modal fade" id="model1" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Editor's Choice
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body"
                                        style="background-image: url('./img/CORONA.jpg'); background-size: cover;">
                                        <div class="model_caption">
                                            <h2>Corona still world’s most valuable beer brand despite namesake virus outbreak</h2>
                                            <p>Despite £112m dropping off its brand value in the past year and a name clash with a global pandemic, Corona remains the world’s most valuable beer brand according to Brand Finance.</p>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="document.location='/beer/5848'">Get beer detail</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <figure class="snip1527">
                        <div class="image"><img src="img/beerrr.jpg" alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date">Beer Suggestions</div>
                            <p>Don't know what to drink?</p>
                        </figcaption>
                        <a class="portfolio-link" data-toggle="modal" data-target="#model2" ara-hidden="true"></a>

                        <div class="modal fade" id="model2" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Beer Guide
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body"
                                        style="background-image: url(img/beerrr.jpg); background-size: cover;">
                                        <div class="model_caption">
                                            <h2>Explore our 3 amazing beer suggestion guides based on:</h2>
                                            <p>> Top-rated beers<br>> Your favorites list<br>> Beer personality quiz</p>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="document.location='/suggest/'">Find your
                                            beer</button>

                                    </div>
                                </div>
                            </div>
                        </div>



                    </figure>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <figure class="snip1527">
                        <div class="image"><img src="img/america.jpg" alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date">Best American Beers</div>
                            <p>Top 5 beer brands in America</p>
                        </figcaption>
                        <a class="portfolio-link" data-toggle="modal" data-target="#model3" ara-hidden="true"></a>

                        <div class="modal fade" id="model3" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Top 5 Beer Brands in America
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- https://www.usatoday.com/story/money/2019/06/19/beer-brands-americas-31-most-popular-beers/39490347/ -->
                                    <div class="modal-body"
                                        style="background-image: url(img/america.jpg); background-size: cover;">
                                        <div class="model_caption">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th scope='row'>1st</th>
                                                        <td><button type="button" onclick="document.location='/beer/3784'">Bud Light</button> </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>2nd</th>
                                                        <td><button type="button" onclick="document.location='/beer/3834'">Coors Light</button> </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>3rd</th>
                                                        <td><button type="button" onclick="document.location='/beer/3811'">Miller Lite</button> </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>4th</th>
                                                        <td><button type="button" onclick="document.location='/beer/3783'">Budweiser</button> </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope='row'>5th</th>
                                                        <td><button type="button" onclick="document.location='/beer/6655'">Michelob Ultra</button> </td>
                                                    </tr>
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </figure>
                </div>
            </div>

            <div class="row align-items-center justify-content-center" id="sponsor" style="text-align: center;">
                <div class="col-sm-6 col-md-2"><h3>Powered by</h3></div>
                <div class="col-sm-6 col-md-2"><a href="https://untappd.com/"><img class="img-fluid d-block mx-auto"
                            src="img/UNTAPPD.png" /></a></div>
            </div>
        </div>
<%- include('partials/footer') %>