<%- include('partials/header') %>

<h1>Management only page</h1>
<h3>To manage our own database(CSV)</h3>

<div class="container-fluid">
    <form method="POST" enctype= "multipart/form-data">
        <button class="submitbtn" type='submit' style="width:100px; height:50px">Get Data</button>
    </form>
</div>


<%- include('partials/footer') %>