<%- include('partials/header') %>

<div class="text" style="color:white">
<h1>Management only page</h1>
<h3>To manage our own database(Awarded Beer)</h3>
<h3>How To</h3>
<p>1. put csv file on /db folder</p>
<p>2. click below 'Get Data' button</p>
<p>*before click the button, 'json' file should be the lastest version</p>
</div>

<div class="container-fluid">
    <form method="POST" enctype= "multipart/form-data">
        <button class="submitbtn" type='submit' style="width:100px; height:50px">Get Data</button>
    </form>
</div>


<%- include('partials/footer') %>