<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Map</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
        <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="css/styles.min.css">
        <script src="js/map.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzkn6tQP5vi2TdQWx5O_Y7Td9C7B4EonI
          &callback=initMap&libraries=places&v=weekly"
          defer
        ></script>
    </head>

    <body style="background-color: #333333;">
        <%- include('partials/header') %>
        <div class="highlight-phone" style="height: 180px;background-color: rgb(213,174,39);">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="intro">
                        </div>
                        <h2>Map</h2>
                    </div>
                </div>
            </div>
        </div>
        <input
        id="pac-input"
        class="controls"
        type="text"
        placeholder="Search Box"
        />
      <div class="container-map">
        <div id="map"></div>
          </div>
      </div>
      <%- include('partials/footer') %>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
        
        
        </body>
        
        </html>
