<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Map</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
        <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="css/styles.min.css">
        <script src="js/map.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzkn6tQP5vi2TdQWx5O_Y7Td9C7B4EonI
          &callback=initAutocomplete&libraries=places&v=weekly"
          defer
        ></script>
    </head>

    <body style="background-color: #333333;">
        <nav class="navbar navbar-dark navbar-expand-md bg-dark" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">All Beer Vibes</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" type="button"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0 text-uppercase">
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                href="/beer/suggest">SUGGEST</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" 
                                href="/beer/map">PUB MAP</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                href="/beer/top-rated">LIST</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                href="./compare.html">COMPARE</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                href="./profileSettings.html">PROFILE</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="highlight-phone" style="height: 180px;background-color: rgb(213,174,39);">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="intro">
                        </div>
                        <h2>Map</h2>
                    </div>
                </div>
            </div>
        </div>
        <h2>Test Map</h2>
        <input
        id="pac-input"
        class="controls"
        type="text"
        placeholder="Search Box"
        />
      <div class="container-map">
        <div id="map"></div>
      </div>
              <div class="footer-dark">
                <footer>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 footer-navigation">
                            <h3><a href="#"><strong>All Beer Vibes</strong></a></h3>
                            <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> ·
                                </strong><a href="#"></a><a href="#">About</a><strong> ·&nbsp;</strong><a href="#">Contact</a></p>
                            <p class="company-name">All Beer Vibes © 2020</p>
                        </div>
                        <div class="col-sm-6 col-md-4 footer-contacts">
                            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                                <p><span class="new-line-span">21 Revolution Street</span> Calgary, Canada</p>
                            </div>
                            <div><i class="fa fa-phone footer-contacts-icon"></i>
                                <p class="footer-center-info email text-left"> +1 403 123456</p>
                            </div>
                            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                                <p> <a href="#" target="_blank">allbeervibes@google.com</a></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4 footer-about">
                            <h4>About the company</h4>
                            <p>Company description here...</p>
                            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i
                                        class="fa fa-github"></i></a></div>
                        </div>
                    </div>
                </footer>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
        
        
        </body>
        
        </html>


<!--
<!DOCTYPE html>
<html>
  <head>
    <title>Places Search Box</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzkn6tQP5vi2TdQWx5O_Y7Td9C7B4EonI
      &callback=initAutocomplete&libraries=places&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .container-map {
        width: 500px;
        height: 500px;
        margin-left: 20%;
      }

      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }

      #target {
        width: 345px;
      }
    </style>
    <script>
      (function(exports) {
        "use strict";

        // This example adds a search box to a map, using the Google Place Autocomplete
        // feature. People can enter geographical searches. The search box will return a
        // pick list containing a mix of places and predicted search terms.
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
        function initAutocomplete() {
          var map = new google.maps.Map(document.getElementById("map"), {
            center: {
              lat: -33.8688,
              lng: 151.2195
            },
            zoom: 13,
            mapTypeId: "roadmap"
          }); // Create the search box and link it to the UI element.

          function getNearbyPlaces(position) {
            let request = {
                location: position,
                rankBy: google.maps.places.RankBy.DISTANCE,
                keyword: 'liqour_stores'
                };

            service = new google.maps.places.PlacesService(map);
            service.nearbySearch(request, nearbyCallback);
                      }

          function nearbyCallback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                createMarkers(results);
              }
            }

          var input = document.getElementById("pac-input");
          var searchBox = new google.maps.places.SearchBox(input);
          map.controls[google.maps.ControlPosition.TOP_LEFT].push(input); // Bias the SearchBox results towards current map's viewport.

          map.addListener("bounds_changed", function() {
            searchBox.setBounds(map.getBounds());
          });
          var markers = []; // Listen for the event fired when the user selects a prediction and retrieve
          // more details for that place.

          searchBox.addListener("places_changed", function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
              return;
            } // Clear out the old markers.

            markers.forEach(function(marker) {
              marker.setMap(null);
            });
            markers = []; // For each place, get the icon, name and location.

            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
              if (!place.geometry) {
                console.log("Returned place contains no geometry");
                return;
              }

              var icon = {
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(25, 25)
              }; // Create a marker for each place.

              markers.push(
                new google.maps.Marker({
                  map: map,
                  icon: icon,
                  title: place.name,
                  position: place.geometry.location
                })
              );

              if (place.geometry.viewport) {
                // Only geocodes have viewport.
                bounds.union(place.geometry.viewport);
              } else {
                bounds.extend(place.geometry.location);
              }
            });
            map.fitBounds(bounds);
          });
        }

        exports.initAutocomplete = initAutocomplete;
      })((this.window = this.window || {}));
    </script>
  </head>
  <body>
    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    <div class="container-map">
      <div id="map"></div>
    </div>
  </body>
</html>

-->