

<%- include('partials/header') %>

<div class="quiz">

 <div class="quiz-process">

    <div class="quiz-container current">

        <h3 class="question">You’re drinking something that is not beer. What is it?</h3>

        <div class="button-list">
            <button value="a">Black Coffee</button>
            <button value="b">A Mocha</button>
            <button value="c">A fruity cocktail</button>
            <button value="d">Red wine</button>
            <button value="e">Tea or Mountain Dew</button>
            <button value="f">Sake</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">What's your ideal vacation?</h3>

        <div class="button-list">
            <button value="a">Strip clubs & gambling</button>
            <button value="b">Canoing and fishing</button>
            <button value="c">Anywhere with my family</button>
            <button value="d">Stay home</button>
            <button value="e">Just follow someone's plan</button>
            <button value="f">Learn new culture</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">You're having a movie night, what are you watching?</h3>

        <div class="button-list">
            <button value="a">Action</button>
            <button value="b">Documentary</button>
            <button value="c">Something funny</button>
            <button value="d">Sad movie</button>
            <button value="e">Anything on Netflix</button>
            <button value="f">Love story</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">What is your spirit animal?</h3>

        <div class="button-list">
            <button value="a">Lion</button>
            <button value="b">Tortoise</button>
            <button value="c">Falcon</button>
            <button value="d">Liger</button>
            <button value="e">Hippopotamus</button>
            <button value="f">An ox</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">If you were a cookie, what kind of cookie would you be?</h3>

        <div class="button-list">
            <button value="a">Ice cream</button>
            <button value="b">Oatmeal with pecans</button>
            <button value="c">M&M</button>
            <button value="d">White chocolate macadamia nut</button>
            <button value="e">Chocolate chip</button>
            <button value="f">Snickerdoodle</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">It's Saturday night, what are you doing?</h3>

        <div class="button-list">
            <button value="a">Drinking beer at local bar</button>
            <button value="b">Lying on bed at home</button>
            <button value="c">Enjoy the party</button>
            <button value="d">Playing on ouija board</button>
            <button value="e">Watching a movie</button>
            <button value="f">Go to the opera</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">You have a huge assignment due tomorrow that you forgot about, what do you do?</h3>

        <div class="button-list">
            <button value="a">Sweet talk teacher for a extra days</button>
            <button value="b">It will never happened to me</button>
            <button value="c">Try my best to finish it tonight</button>
            <button value="d">Meditate and focus</button>
            <button value="e">Think about perpect excuse</button>
            <button value="f">Stay up all night long</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">Where is your favourite spot to order a sandwich or burger</h3>

        <div class="button-list">
            <button value="a">McDonald's</button>
            <button value="b">Arby's</button>
            <button value="c">Wendy's</button>
            <button value="d">Shake Shack</button>
            <button value="e">Five-Guys</button>
            <button value="f">Popeyes</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">You're wearing headphones, what's playing?</h3>

        <div class="button-list">
            <button value="a">Top Hits on Spotify</button>
            <button value="b">Old Folk song</button>
            <button value="c">Something Chill and relaxing</button>
            <button value="d">Nothing</button>
            <button value="e">Old pop</button>
            <button value="f">Rock</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">What's your favorite candy?</h3>

        <div class="button-list">
            <button value="a">Starburst</button>
            <button value="b">Twizzlers</button>
            <button value="c">Chocolate orange</button>
            <button value="d">Sour Keys</button>
            <button value="e">Any chocolate bar</button>
            <button value="f">Werther's Originals</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">What's your favorite sport?</h3>

        <div class="button-list">
            <button value="a">Hockey</button>
            <button value="b">Golf</button>
            <button value="c">Baseball</button>
            <button value="d">Anything in the Summer Olympics</button>
            <button value="e">Whatever is playing a sports bar</button>
            <button value="f">Football</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">You've planned a night out with your firends and everyone bails last minute. What do you do?</h3>

        <div class="button-list">
            <button value="a">never talk to those guys again</button>
            <button value="b">Upset, but I'll get over it</button>
            <button value="c">Secretly hoping they would bail so I could have a night in alone</button>
            <button value="d">Show up to their houses and force them to go out</button>
            <button value="e">No biggie, we'll try again next</button>
            <button value="f">F*ck, I'll going out alone</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">Whose company do you prefer the most?</h3>

        <div class="button-list">
            <button value="a">Coworkers</button>
            <button value="b">My significant other</button>
            <button value="c">My family</button>
            <button value="d">Dead people</button>
            <button value="e">My friends</button>
            <button value="f">Myself</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">What do you usually order for desert?</h3>

        <div class="button-list">
            <button value="a">Anthing comes with a sprkler</button>
            <button value="b">dessert that has flovaours of coffee</button>
            <button value="c">Fruitcake</button>
            <button value="d">Macarons</button>
            <button value="e">Plain vanilla ice cream</button>
            <button value="f">"Sticky-toffee" anthing</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">If you walked into a bar that only had "generic" beer choices, what do you choose?</h3>

        <div class="button-list">
            <button id="last" value="a">Alexander Keiths</button>
            <button id="last" value="b">Guinness</button>
            <button id="last" value="c">Blue Moon</button>
            <button id="last" value="d">Cider</button>
            <button id="last" value="e">Kokanee</button>
            <button id="last" value="f">I'd leave</button>
        </div>

    </div>
    
</div>

<div class="quiz-result hidden">

    <div class="result">
        <div class="head">
        <h1>You should like <span class="like"></span></h1>
        </div>
        
        <div class="content">

        </div>
    </div>
</div>

</div>

<script src="/js/quiz.js"></script>

<%- include('partials/footer') %>