

<%- include('partials/header') %>

<div class="quiz">

 <div class="quiz-process">

    <div class="quiz-container current">

        <h3 class="question">first question</h3>

        <div class="button-list">
            <button value="a">a</button>
            <button value="b">b</button>
            <button value="c">c</button>
            <button value="d">d</button>
            <button value="e">e</button>
            <button value="f">f</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">Second question</h3>

        <div class="button-list">
            <button value="a">1</button>
            <button value="b">2</button>
            <button value="c">3</button>
            <button value="d">4</button>
            <button value="e">5</button>
            <button value="f">6</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">Third question</h3>

        <div class="button-list">
            <button value="a">1</button>
            <button value="b">2</button>
            <button value="c">3</button>
            <button value="d">4</button>
            <button value="e">5</button>
            <button value="f">6</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">Fourth question</h3>

        <div class="button-list">
            <button value="a">1</button>
            <button value="b">2</button>
            <button value="c">3</button>
            <button value="d">4</button>
            <button value="e">5</button>
            <button value="f">6</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">Fifth question</h3>

        <div class="button-list">
            <button value="a">1</button>
            <button value="b">2</button>
            <button value="c">3</button>
            <button value="d">4</button>
            <button value="e">5</button>
            <button value="f">6</button>
        </div>

    </div>

    <div class="quiz-container hidden">

        <h3 class="question">Last question</h3>

        <div class="button-list">
            <button id="last" value="a">1</button>
            <button id="last" value="b">2</button>
            <button id="last" value="c">3</button>
            <button id="last" value="d">4</button>
            <button id="last" value="e">5</button>
            <button id="last" value="f">6</button>
        </div>

    </div>
    
</div>

<div class="quiz-result hidden">

    <div class="result">

        <h3>Result</h3>

        <div class="content">

        </div>
    
    
    </div>
</div>

</div>

<script src="/js/quiz.js"></script>

<%- include('partials/footer') %>