<%- include('partials/header') %>
          <div class="result-searchbar">
                <div class="row justify-content-center">
                    <form class="form-inline" method='GET' action="/beer/result">
                        <input class="form-control amber-border" id="searchInput" type="text"
                            placeholder="Search for any beer or brewery" aria-label="Search" name="searchterm">
                        <button type="submit" class="btn btn-primary">Search</button>

                    </form>
                </div>
            </div>

            <!-- need more idea for this filter-->
            <div class="row justify-content-center" id="filter-bar">
                <nav class="navbar navbar-dark navbar-expand-md bg-dark">
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" type="button"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span>FILTER</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0 text-uppercase">
                            <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                    href="./Recommend.html">FILTER 1</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                    href="#">FILTER 2</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                    href="./searchResult.html">FILTER 3</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                    href="./compare.html">FILTER 4</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger"
                                    href="./profileSettings.html">FILTER 5</a></li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="container-fluid" id="searchResult">
                <div class="container">
                    <div class="row product-list dev" id="beerResult">
                        <!-- added this invisible div to use the user id from server side session storage-->
                        <% if(userId != 'null') {%><div class="beerResult__userId" style="display:none"><%- userId %></div><% } %>
                        <%- getSearchResult %>
                    </div>
                </div>
            </div>

            <div class="container-fluid" id="fav__modal">
                <div class="mod__content">                    
                </div>
            </div>



<%- include('partials/footer') %>
<script src="js/suggestion.js"></script>