<%- include('partials/header') %>
    <div class="suggest-container">
        <%- include("partials/messages") %>
        <h1 class="suggest-title">Recommendation Options</h1>
        
                <table>
                    <tbody>
                        <tr>
                            <td><a href='/beer/top-rated/'><button>
                                Top Rated Beers</button></a></td>
                        </tr>
                        <tr>
                            <td><a href='/suggest/profile/'><button>
                                Based on My List</button></a></td>
                        </tr>
                        <tr>
                            <td><a href='/suggest/quiz/'><button>
                                Quiz</button></a></td>
                        </tr>
                    </tbody>
                </table>
         
        
    
    </div>

<%- include('partials/footer') %>